<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-axios-secret-aes演示加解密</title>
    <!--1. 引入vue学习-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--2. 引入elementui学习-->
    <!-- 2.1 引入样式 -->
    <!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <!-- 2.2 引入组件库 -->
    <!--    <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->

    <!-- 引入 CDN Crypto.js 开始 AES加密 注意引入顺序(按需引入) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/enc-base64.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/md5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/evpkdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/cipher-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/aes.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/pad-pkcs7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/mode-ecb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/enc-utf8.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/enc-hex.min.js"></script>
    <!-- 引入 CDN Crypto.js 结束 -->

    <!--<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>-->
    <!--    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>-->


</head>

<body>
<div id="app">
    <button v-on:click="sayHello">{{message}}</button>
</div>
</body>


<script>
    const key = CryptoJS.enc.Utf8.parse("·······"); // 十六位十六进制数作为密钥
    const iv = CryptoJS.enc.Utf8.parse("·······");  // 十六位十六进制数作为密钥偏移量

    // =============================== 原始的 JavaScript ========================== start
    // // 解密方法
    // function Decrypt(word) {
    //     let encryptedHexStr = CryptoJS.enc.Hex.parse(word);
    //     let srcs = CryptoJS.enc.Base64.stringify(encryptedHexStr);
    //     let decrypt = CryptoJS.AES.decrypt(srcs, key, {
    //         iv: iv,
    //         mode: CryptoJS.mode.CBC,
    //         padding: CryptoJS.pad.Pkcs7
    //     });
    //     let decryptedStr = decrypt.toString(CryptoJS.enc.Utf8);
    //     return decryptedStr.toString();
    // }
    //
    // // 加密方法
    // function Encrypt(word) {
    //     var srcs = CryptoJS.enc.Utf8.parse(JSON.stringify(word));
    //     var encrypted = CryptoJS.AES.encrypt(srcs, key, {
    //         mode: CryptoJS.mode.ECB,
    //         padding: CryptoJS.pad.Pkcs7
    //     });
    //     return encrypted.toString();
    // }
    // export {Decrypt, Encrypt};
    // =============================== 原始的 JavaScript ========================== end

    let app = new Vue({
        el: "#app",
        data: {
            message: "SAY-HELLO",
            secretData: "a346727cb21019989aca9bb2b771446fafa5fdb0c7fa45dbd6a7193789c48e8555b5f4d912ec56fe0b5a2820fb822b37",
            constants: {
                secret: {
                    key: 'aaaabbbbccccdddd', // 必须16位（前后端要一致，密钥）
                    urls: ['/users/save']
                },
            },
        },
        methods: {
            sayHello: function () {
                this.getAjax("http://localhost:8080/secret/getInfo")
                let originalData = this.decrypt(this.secretData)
                console.log("解密后的原始数据：\n", originalData);
            },
            /**
             * 加密方法
             * @param data 待加密数据
             * @returns {string|*}
             */
            encrypt: function (data) {
                let key = CryptoJS.enc.Utf8.parse(this.constants.secret.key)
                if (typeof data === 'object') {
                    data = JSON.stringify(data)
                }
                let plainText = CryptoJS.enc.Utf8.parse(data)
                let secretText = CryptoJS.AES.encrypt(plainText, key, {
                    mode: CryptoJS.mode.ECB,
                    padding: CryptoJS.pad.Pkcs7
                }).ciphertext.toString()
                return secretText
            },
            /**
             * 解密数据
             * @param data 待解密数据
             */
            decrypt: function (data) {
                let key = CryptoJS.enc.Utf8.parse(this.constants.secret.key)
                let secretText = CryptoJS.enc.Hex.parse(data)
                let encryptedBase64Str = CryptoJS.enc.Base64.stringify(secretText)
                let result = CryptoJS.AES.decrypt(encryptedBase64Str, key, {
                    mode: CryptoJS.mode.ECB,
                    padding: CryptoJS.pad.Pkcs7
                }).toString(CryptoJS.enc.Utf8)
                return JSON.parse(result)
            },
            /**
             * 原生AJAX请求
             */
            getAjax: function (ajaxUrl) {
                // $.ajax({
                //     url: ajaxUrl,
                //     type: 'GET',
                //     dataType: 'application/json',
                //     data: {
                //         str: "Hello",
                //         t: Math.random()
                //     },
                //     success: function(res){
                //         console.log("res:", res)
                //         this.secretData = res.responseText;
                //     },
                //     error: function(res){
                //         console.error(res);
                //     }
                // })
                let xmlHttp;
                if (window.XMLHttpRequest) {
                    // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                    xmlHttp = new XMLHttpRequest();
                } else {
                    // IE6, IE5 浏览器执行代码`
                    xmlHttp = new ActiveXObject("Microsoft.xmlHttp");
                }
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                        console.log("good:", xmlHttp.responseText);
                    }
                }
                xmlHttp.open("GET", ajaxUrl + "?str=Hello&t=" + Math.random(), true);
                xmlHttp.send();
            },
        },
    });
</script>
</html>